@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

.custom-img {
	background-image: url("https://images.unsplash.com/photo-1508867743401-21ad68d105b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
	background-repeat: no-repeat;
	background-size: cover;
}
